body{ 
    margin: 40px;
    height: 30vh;
    display: flex;
     flex-direction: column; 
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

body>div{
    display: flex;
    align-items: flex-end;
    height: 100px;
    width: 60%;
    position: relative;
    top: 28%;
    left: 19%;
    background-color: aqua
}


img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0;


}


.Loading{
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    height: 21px;
    width: 45px;
    background-color: rgb(17, 56, 230);
    animation: 1s 2s linear infinite colorir;
    



@keyframes colorir{
{transform: rotate (360deg)}
}